@(project: Project)
<div class="pretty-list">
	@for(todolist <- project.getTodolists()) {
		<a href='@routes.Todolists.show(project.getCreator().getUsername(), project.getCleanName(), todolist.getCleanName())' title='@todolist.getName()'>
			<div class="pretty-entry">
				<div>
					<span class="todolist-name dark-gray">@todolist.getName()</span>
				</div>
				<div class="pull-right">
					<span class="light-gray"><i class="icon-check-empty"> @todolist.getTodoTasks().size()</i></span> <span class="light-gray" style="margin-left: 5px;"> <i class="icon-check"> @todolist.getDoneTasks().size()</i></span>
				</div>
				<div>
					<span class="light-gray">@todolist.getDescription()</span>
				</div>
			</div>
		</a>
	}
	@if(project.getTodolists().size() == 0) {
		<div class="pretty-entry">
			No todolists... <a class="new-todolist" href='#'>Start creating one !</a>
		</div>
	
	}
</div>
