@(todolist: Todolist, tasks: List[Task], websocketUri: String)
@import helper._
@import play.libs.Json
@main(todolist.getProject().getName() + " - " + todolist.getName()) {
<script type="text/javascript">
	var tasksCount = @tasks.size();
	var tasks = [];
	@for(task <- tasks) {
		tasks[@task.getPosition()] = @Html(task.toJsonView().toString());
	}
	websocketUri = "@websocketUri";
</script>

<script id="todo-template" type="text/x-handlebars-template">
    <div class="pretty-entry todo-entry task-{{state}}" id="{{id}}" data-position="{{position}}">
        <a href='#' class="task-remove"><i class="float-right light-gray icon-trash"></i></a>
        <div>
            <a href='#' class="{{#equals state 'TODO'}}task-todo{{else}}task-done{{/equals}}" title="Done"><i class="{{#equals state 'TODO'}}icon-check-empty{{else}}icon-check{{/equals}} gray"></i></a> <span class="dark-gray bold">{{title}}</span> - {{content}}
        </div>
        <div class="float-left">
            <div class="tags">
                <span>
                    <i class="gray icon-tag" title="Tags"></i>&nbsp;
                </span>
                <a class="tag" href="#" data-tag="1"><span class="tag{{#contains tags 1}} tag-active tag-active-1{{/contains}}">TODO</span></a>
                <a class="tag" href="#" data-tag="2"><span class="tag{{#contains tags 2}} tag-active tag-active-2{{/contains}}">FEATURE</span></a>
                <a class="tag" href="#" data-tag="3"><span class="tag{{#contains tags 3}} tag-active tag-active-3{{/contains}}">WISH</span></a>
            </div>
            <div class="todo-infos">
                <span>
                    <span class="task-author gray"><i class="icon-user"></i>&nbsp;{{author}}</span> <span class="light-gray"><i class="icon-time"></i>&nbsp;{{creationDate}}</span>
                </span>
            </div>
        </div>
        <div class="float-right">
            <div class="todo-actions">
                <span class="loader" id="loader-{{id}}"><i class="icon-spinner icon-spin"></i></span>
                <button class="small-btn task-comments"><i class="icon-comments"></i> Comments</button>
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
</script>
@todolists.modalNewTask.render(todolist)
<div id="main-div"
       data-route-add-task="@routes.Tasks.add(todolist.getProject().getCreator().getUsername(), todolist.getProject().getCleanName(), todolist.getCleanName())"
       data-route-delete-task="@routes.Tasks.delete(todolist.getProject().getCreator().getUsername(), todolist.getProject().getCleanName(), todolist.getCleanName())"
       data-route-close-task="@routes.Tasks.close(todolist.getProject().getCreator().getUsername(), todolist.getProject().getCleanName(), todolist.getCleanName())"
       data-route-open-task="@routes.Tasks.open(todolist.getProject().getCreator().getUsername(), todolist.getProject().getCleanName(), todolist.getCleanName())"
       data-route-add-tag="@routes.Tasks.addTag(todolist.getProject().getCreator().getUsername(), todolist.getProject().getCleanName(), todolist.getCleanName())"
       data-route-remove-tag="@routes.Tasks.removeTag(todolist.getProject().getCreator().getUsername(), todolist.getProject().getCleanName(), todolist.getCleanName())">
	<section>
		<header>
		<a href='@routes.Projects.show(todolist.getProject().getCreator().getUsername(), todolist.getProject().getCleanName())' title='Back to @todolist.getProject().getName()'>&nbsp;<i class='icon-arrow-left'> </i> <span class="bold">@todolist.getProject().getName()</span></a>
			<h1 class="green"><span class="light-gray"><i class="icon-ok"> </i></span> @todolist.getName()</h1>
			<span class="topic-author light-gray">
				<i class="icon-user"></i> Authored by</span> <span class="gray">@todolist.getCreator().getUsername()
			</span> 
    		<span class="topic-creation-date light-gray">
    			<i class="icon-time"></i>&nbsp;Creation date <span class="gray">@todolist.getCreationDate().format(Application.COMPLETE_DATE_PATTERN)</span>
        	</span>
		</header>
		<article>
			<div class="text-center">
				<button id="btn-create-task"> <i class="icon-plus"></i>&nbsp; Create a task</button>
			</div>
		</article>
		<article>
			<div class="todo">
				<h3><i class="light-gray icon-check-empty"> </i>Todo</h3>
				<div id="todo-container" class="pretty-list">
				</div>
			</div>
			<div class="done">
				<h3><i class="light-gray icon-check"> </i>Done</h3>
				<div id="done-container" class="pretty-list">
                </div>
			</div>
		</article>
		<footer>
		</footer>
	</section>
</div>
@helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("javascripts/todolists").url)
}
