@(todolist: Todolist)
@import helper._
@main(todolist.getProject().getName() + " - " + todolist.getName()) {
<div id="main-div">
	<section>
		<header>
		<a href='@routes.Projects.show(todolist.getProject().getCreator().getUsername(), todolist.getProject().getName())' title='@todolist.getProject().getName()'>&nbsp;<i class='icon-arrow-left'> </i> <span class="bold">@todolist.getProject().getName()</span></a>
			<h1 class="green">@todolist.getName()</h1>
		</header>
		<article>
		</article>
		<footer>
		</footer>
	</section>
</div>
}
