@import "constants.less";


// ------------
// Basic classes
// ------------


// ------------
// Positions
// ------------

.inline-block {
	display: inline-block;
}

.inline {
	display: inline;
}

.block {
	display: block;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

// ------------
// Colors
// ------------

.green {
	color: @green;
}

.dark-gray
{
	color: @dark-gray;
}

.gray
{
	color: @gray;
}

.light-gray
{
	color: @light-gray;
}

// ------------
// Styles
// ------------

.bold {
	font-weight: bold;
}

.small-btn {
	padding: 0.3em;
}