@import "constants.less";
@import "mixins.less";
@import "external/elements.less";

// ---------------------- 
// Basic classes
// ---------------------- 

.random-image { // of cats
	.box-shadow(0px 4px 4px 2px #ddd);
}

.loader {
    margin-right: 25px;
    display: none;
}

// ---------------------- 
// Positions
// ---------------------- 

.inline-block {
	display: inline-block;
}

.inline {
	display: inline;
}

.block {
	display: block;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.full-width {
	width: 100%;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.clear {
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}                

// ---------------------- 
// Colors
// ---------------------- 

.green {
	color: @green;
}

.dark-gray {
	color: @dark-gray;
}

.gray {
	color: @gray; 
}

.light-gray {
	color: @light-gray;
}

.red {
	color: @red;
}

// ---------------------- 
// Styles
// ---------------------- 

.bold {
	font-weight: bold;
}

.small-btn {
	padding: 0.3em;
}

.padded {
	padding: 1em;
}

span.error {
	color: @red;
}

// ---------------------- 
// Pretty lists
// ---------------------- 

div.pretty-list {
	width: 95%;
	margin: auto;
	.padded;
}

div.pretty-entry {
	.padded;
	margin-top: 2px;
	background-color: #fff;
	border: 1px solid #f0f0f0;
	border-right: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
}

div.pretty-entry:hover {
	.box-shadow(0px 2px 3px 1px #eee);
}

// ---------------------- 
// Tabulation
// ---------------------- 

.tab {
    .padded;
}
.tab-active {
    color: #333;
    background-color: #fff;
    border: 1px solid #eee; 
	.box-shadow(0px 2px 3px 1px #eee);
    .rounded;
}
.tab-inactive {
    color: #666;
}
.tab-inactive:hover {
	.box-shadow(0px 2px 3px 1px #eee);
}
.tabs {
    margin-top: 20px;
    margin-bottom: 20px;
}
.tab-content {
    padding: 1em;
}
