@import "external/elements.less";

// remeh's functions
@import "mixins.less";

// qubuto's constants
@import "constants.less";

table.todolist {
	width: 95%;
	margin: auto;
	.padded;
}

tr.todolist-entry {
	border-bottom: 1px solid #eee;
}
tr.todolist-entry:hover {
	background-color: #fff;
}

td.todolist-name {
	width: 100%;
}

td.todolist-state {
	min-width: 35px;
}

span.todolist-name {
	font-weight: bold;
	color: #555;
}

span.todolist-description {
	color: #999;
}