@import "external/elements.less";

// remeh's functions
@import "mixins.less";

// qubuto's constants
@import "constants.less";

div.new-task-container {
	border: 1px dashed #eee;
}

#add-task-title {
	padding-right: 0px;
	padding-left: 0px;
	border: 1px dashed #ddd;
	border-bottom: 0px;
	background: #fff;
}

#add-task-content {
	border: 1px dashed #ddd;
	width: 100%;
	border-bottom: 1px dashed #f0f0f0;
	background: white;
	padding-right: 0px;
	padding-left: 0px;
	background: #fff;
}

#add-task {
	border: 1px dashed #ddd;
	width: 100% + .5px;
	border-top: 0px;
	border-radius: 0px;
	padding-right: 0px;
	padding-left: 0px;
	background: #fff;
}