@main("Welcome to Qubuto") {
<div id="main-div">
	<section>
		<header>
			<h1 class="green">Welcome to Qubuto</h1>
			<h2 class="gray">Quickly complete your projects, in team.</h2>
		</header>
		
		<article>
			<p>You and your team have an approaching deadline, you don’t have time to waste fighting with your bug-tracking solution.</p>
			
			<p>Your usual bug-tracking system isn’t even complete as it takes too much time to anybody to enter a new bug or feature request. We won’t even speak about the bugs discovered by the development team the last week before the deadline.</p>
			
			<p><em>Qubuto</em> isn't the next fully featured bug-tracker. It doesn't aim to provide a complete set of tools to manage your project.<br />It focus on what have to be done, now, with your team, without distracting you with another subject that tasks which should be closed.</p>
			<br />
		</article>

		
		<article class="text-right">
            <hr />
			<div class="text-right padded">
				<a href='@routes.Users.login()' class="gray" title='Login'>Login</a> or <a class="btn" href='@routes.Users.register()' title='Register now !'>Register now!</a>
			</div>
            <hr />
		</article>

        <div class="presentation-row">
            <div class="presentation">
                <div class="presentation-icon">
                    <span class="green">
                        <i class="icon-bolt"></i>
                    </span>
                </div>
                <div>
                    <p>
                        <em>Qubuto</em> focus on <strong>quick actions</strong> rather<br />
                        than complex actions.
                    </p>
                    <p>
                        It's not a complete set of tools,<br />
                        it helps you to focus on your tasks.
                    </p>
                </div>
            </div>
            <div class="presentation">
                <div class="presentation-icon">
                    <span class="light-gray">
                        <i class="icon-group"></i>
                    </span>
                </div>
                <br />
                <div>
                    <p>
                        Actions in <em>todolists</em> and <em>conversations</em> are<br />
                        <strong>collaborative in real-time</strong> in Qubuto.
                    </p>
                    <p>
                        This way, you always have the most recent<br />
                        information in front of you.
                    </p>
                </div>
            </div>
            <div class="presentation">
                <div class="presentation-icon">
                    <span class="green">
                        <i class="icon-wrench"></i>
                    </span>
                </div>
                <div>
                    <p>
                        <em>Qubuto</em> is currently a <strong>free beta</strong><br />
                        opened to everyone.
                    </p>
                    <p>
                        Its roadmap is currently hosted in Qubuto itself.<br/>
                        You can <a href='@routes.Users.register()' title='Register now !'>give it a try here</a>.
                    </p>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
	</section>
</div>
}
