@main("Welcome to Qubuto") {
	<section>
		<header>
			<h1 class="green">Welcome to Qubuto</h1>
			<h2 class="gray">Quickly complete your projects, in team.</h2>
		</header>
		
		<article>
			<p>You and your team have an approaching deadline, you don’t have time to waste fighting with your bug-tracking solution.</p>
			
			<p>Your usual bug-tracking system isn’t even complete as it takes too much time to anybody to enter a new bug or feature request. We won’t even speak about the bugs discovered by the development team the last week before the deadline.</p>
			
			<p><em>Qubuto</em> isn't the next fully featured bug-tracker. It doesn't aim to provide a complete set of tools to manage your project.<br />It focus on what have to be done, now, with your team, without distracting you with another subject that tasks which should be closed.</p>
			<br />
		</article>
		
		<footer class="text-right">
			<div class="text-right">
				<a href='@routes.Users.register()'><button>Register now!</button></a>
			</div>
		</footer>
	</section>
}
