@(title: String)(content: Html)
<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/external/font-awesome.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/external/pagedown.css")">
        
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/external/jquery-1.9.0.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/external/jquery.simplemodal.1.4.4.min.js")" type="text/javascript"></script>
		
        <script type="text/javascript" src="@routes.Assets.at("javascripts/external/pagedown/MarkdownConverter.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/external/pagedown/MarkdownSanitizer.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/external/pagedown/MarkdownEditor.js")"></script>
		
		<script src="@routes.Assets.at("javascripts/commons.min.js")" type="text/javascript"></script>
    </head>
    <body>
    	<header id="big-header">
    		<h1 class="green bold"><a class="green" href='@routes.Application.index()'>Qubuto</a></h1>
    	</header>
    	<section id="main-section">
    		<span class="float-right">
    			@if(session.get("u") != null) {
    				<a href='@routes.Projects.list(session.get("u"))' title='Go to your projects list'>@session.get("u")</a> - <a href='@routes.Users.logout()' title='Logout'>Logout</a>
    			}
    		</span>
	    	@if( flash.get("error") ) {
		    	<section id="flash-error-section">
		    		@flash.get("error")
		    	</section>
		    }
    		@if( flash.get("success") ) {
		    	<section id="flash-success-section">
		    		@flash.get("success")
		    	</section>
		    }
        	@content
        </section>
        <footer id="main-footer">
    		<section>
	    		<img src="@routes.Assets.at("images/mehteor_small.png")" class="float-left" title="mehteor!"><br /> &nbsp; © <a href='http://mehteor.com'>mehteor.com</a> 2013
		    	<nav class="float-right">
		    		<ul>
		    			<li><a href='#'>About us</a></li>
		    			<li><a href='#'>Contact us</a></li>
		    		</ul>
		    	</nav>
	    	</section>
        </footer>
    </body>
</html>
